@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 47px;
    margin left: 42px;
}

.link-menu {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    color: #17233D;
}